<% content_for :header do %>
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Carrinho
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="keep-shopping pv1 mt4 has-text-right">
  <%= link_to 'Continuar comprando', products_path, class: 'button is-info is-outlined' %>
</div>
<hr />

<div class="field is-ancestor">
  <div class="field is-parent">
    <div class="field is-child box">
      <%= render(@cart.line_items) %>
    </div>
  </div>
</div>

<div class="field is-ancestor">
  <div class="field is-parent">
    <div class="field is-child box">
      <div class="column total has-text-right">
        <h4 class="title is-4">
        <span class="f5 has-text-grey">Total: </span> <%= number_to_currency(@cart.total_price) %>
        </h4>
      </div>
      <div class="field is-grouped">
        <p class="control">
          <%= button_to 'Esvaziar carrinho', @cart, method: :delete, data: { confirm: "Tem certeza?" }, class: "button is-danger is-outlined is-rounded" %>
        </p>
        <p class="control">
          <%= button_to 'Finalizar Compra', @cart, method: :delete, data: { confirm: "Tem certeza?" }, class: "button is-success is-outlined is-rounded" %>
        </p>
      </div>
    </div>
  </div>
</div>
