<!DOCTYPE html>
<html>
  <head>
    <title>Gateway - 0010111011</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'manifest' %>
  </head>

  <body class="<%= yield (:body_class) %>">
    <!--Barra de Navegação-->
    <nav class="level" role="navigation" aria-label="main navigation">
      <div class="level-item is-centered">
        <div id="navbar" class="navbar-menu">
          <!--Parte da direita-->
          <div class="navbar-start">
            <div class="navbar-item">
              <div class="field is-grouped is-grouped-centered">
                <!--Barra de procura-->
                <p class="control">
                  <a class="button is-outlined is-info">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </a>
                </p>

                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="Oque você procura?">
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
        <!--Logo com link pra homepage-->
            <div class="level-item is-centered">
              <div class="navbar-brand">
                <%= link_to root_path, class:"navbar-item" do %>
                  <i class="fa fa-eercast fa-3x has-text-info" aria-hidden="true"></i>
                  <h1 class="title is-2 has-text-info">Gateway</h1>
                <% end  %>
                <div class="navbar-burger burger" data-target="navbar">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
            </div>

          <!--Parte da esqueda-->
        <div class="level-item is-centered">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <!--Carrinho de compras-->
                <div class="control">
                    <%= link_to cart_path(@cart), class:"navbar-item button is-info is-outlined" do %>
                    <span class="icon is-small"><i class="fa fa-shopping-cart"></i></span>
                    <span><%= cart_count_over_one %></span>
                    <% end %>
                </div>
                <!--Verifica se o usuário é adimistrador, caso seja, libera as opções de editar e excluir intens, se não
                    habilita os botões de login e cadastro de usuário-->
              <% if current_user.try(:admin2?) %>
                <p class="control">
                  <%= link_to new_product_path, class:"navbar-item button is-info is-outlined" do %>
                  <span class="icon">
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                  </span>
                  <span>
                    Publicar novo produto
                  </span>
                  <% end  %>
                </p>
                <div class="navbar-item has-dropdown is-hoverable">
                  <%= link_to 'Conta', edit_user_registration_path, class: "navbar-link" %>
                  <div class="navbar-dropdown is-right">
                    <%= link_to current_user.name, edit_user_registration_path, class:"navbar-item" %>
                    <%= button_to "Deslogar", destroy_user_session_path, method: :delete, class:"navbar-item" %>
                  </div>
                </div>
            <!--Segunda parte da verificação(verifica se está logado)-->
            <% elsif user_signed_in? %>
              <div class="navbar-item has-dropdown is-hoverable">
                <%= link_to 'Conta', edit_user_registration_path, class: "navbar-link" %>
                <div class="navbar-dropdown is-right">
                  <%= link_to current_user.name, edit_user_registration_path, class:"navbar-item" %>
                  <%= button_to "Deslogar", destroy_user_session_path, method: :delete, class:"navbar-item" %>
                </div>
              </div>
            <!--Ultima parte da verificação (usuário deslogado)-->
            <% else %>
              <p class="control">
                  <%= link_to new_user_session_path, class:"navbar-item button is-info is-outlined" do %>
                  <span class="icon">
                    <i class="fa fa-sign-in has-text-info" aria-hidden="true"></i>
                  </span>
                  <span>
                    Login
                  </span>
                  <% end  %>
                </p>
                <p class="control">
                  <%= link_to new_user_registration_path, class:"navbar-item button is-info is-outlined" do %>
                  <span class="icon">
                    <i class="fa fa-user-plus has-text-info" aria-hidden="true"></i>
                  </span>
                  <span>
                    Cadastrar
                  </span>
                  <% end  %>
                </p>

            <% end %>

            </div>
          </div>
        </div>
      </div>
    </nav>

  <%= yield(:header) %>

  <div class="container">

    <%= yield %>

  </div>

  </body>
</html>
