<div class="columns">
  <div class="field is-grouped is-grouped-centered">

    <%= simple_form_for @product, html: { multipart: true } do |f| %>
    <%= f.error_notification %>
      <!--Campo para nome do produto-->
      <div class="field-body">
        <div class="field">
          <label class="label">Nome</label>
          <div class="control">
            <%= f.input :name , required: true, input_html: { class: "input"}, wrapper: false%>
          </div>
        </div>
        <!--Campo de Preço produto-->
        <div class="field">
          <label class="label">Preço:</label>
          <div class="control">
            <%= f.input :price, required: true, input_html: { class:"input", maxlength: 7  }, wrapper: false%>
          </div>
        </div>
    </div>
      <!--Campo de Descrição de produto-->
      <div class="field">
        <div class="control">
          <label class="label">Descrição:</label>
          <%= f.input :description, required: true, input_html: { class:"textarea" }, wrapper: false%>
        </div>
      </div>

        <div class="field is-grouped">
          <!--Dropdown de categorias-->
          <div class="control">
            <label class="label">Categoria</label>
            <div class="control has-icons-left">
              <span class="select">
                <%= f.input_field :tag, collection: Product::TAG, prompt: "Selecionar categoria" %>
              </span>
              <span class="icon is-left">
                <i class="fa fa-plus-circle fa-2x"></i>
              </span>
            </div>
          </div>

      <!--Botões p/ adicionar imagens de produto-->
         <div class="control">
           <label class="label">Adicionar imagem</label>
           <div class="file">
             <label class="file-label">
               <%= f.input :image, as: :file, input_html: { class:"file-input product-image" }, label: false, wrapper: false %>
               <span class="file-cta">
                 <span class="file-icon"><i class="fa fa-upload"></i></span>
                 <span class="file-label">Escolher um arquivo…</span>
               </span>
             </label>
           </div>
         </div>
        </div>
         <hr/>
         <!--Botões de Criar e Cancelar-->
         <div class="field is-grouped is-grouped-right">
           <div class="control">
             <%= f.button :submit, class: 'button is-info is-outlined' %>
             <%= link_to 'Cancelar', products_path, class:'button is-danger is-outlined' %>
           </div>
         </div>

       </div>
        <output id="list"></output>
      <hr/>
    <% end %>
  </div>
