<% if current_user.try(:admin2?) %>
  <% content_for :header do %>
  <section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Editando Produto
        </h1>
      </div>
    </div>
  </section>
  <% end %>

<div class="pv4">
  <%= render 'form', product: @product %>
</div>
<% else %>
<% content_for :header do %>
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Editando Produto
        Acesso restrito favor retornar a homepage.
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="pv4">
  <%= render 'form', product: @product %>
</div>
<% end %>
