<% content_for :body_class, 'bg-dark' %>

<section class="section product-show">
  <div class="tile is-ancestor">

    <div class="tile is-parent">
      <div class="tile is-child box">
        <div class="feature-image">
          <%= image_tag(@product.image_url(:default)) %>
        </div>
      </div>

      <div class="tile is-parent is-vertical">
        <article class="tile is-child box is-info">
          <div class="content pa4 mt3 bg-white border-radius-3">
            <h1 class="title is-2"><%= @product.name %></h1>
          </div>
        </article>

        <article class="tile is-child box">
            <table class="table is-narrow is-fullwidth">
               <% if @product.tag %>
               <tr>
                 <td class="has-text-weight-bold">
                   <i class="fa fa-address-card has-text-info" aria-hidden="true"></i>
                   Categoria:</td>
                 <td><%= @product.tag %></td>
               </tr>
               <% end %>
               <% if @product.price %>
               <tr>
                 <td class="has-text-weight-bold">
                   <i class="fa fa-money has-text-info" aria-hidden="true"></i>
                   Preço(R$):
                 </td>
                 <td><%= @product.price %></td>
               </tr>
               <% end %>
            </table>
            <% if user_signed_in? %>
              <%= button_to 'Adicionar ao carrinho', line_items_path(product_id: @product), class: 'button is-info add-to-cart' %>
            <% else %>
              <%= button_to 'Conecte-se para comprar', new_user_session_path, class: 'button is-info add-to-cart' %>
            <% end %>
        </article>

        <div class="tile is-child box">
          <h3 class="title is-child is-4">
            <i class="fa fa-id-badge has-text-info" aria-hidden="true"></i>
            Ficha técnica:
          </h3>
          <p><%= @product.description %></p>
        </div>
      </div>
    </div>

  </div>

  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child box">

        <h3 class="title is-child is-4">
          <i class="fa fa-star-half-o has-text-info" aria-hidden="true"></i>
          Avaliações:
        </h3>
        <article class="title is-child has-text-info">
          <% if user_signed_in? %>
          <i class="fa fa-pencil-square has-text-info" aria-hidden="true"></i>
          <%= link_to "Escreva uma análise!", new_product_review_path(@product) %>
          <% end %>
        </article>

        <% if @reviews.blank? %>
        <h3>Sem análises</h3>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews">

              <article class="title box is-5">
                <div class="media-content">
                  <div class="content">
                    <small class="author">Análise feita por: <%= review.user.name %></small>
                    <br>
                    <p><%= review.comment %></p>
                  </div>
                </div>


                <% if user_signed_in?%>
                  <% if current_user.try(:admin2?) && review.user == current_user -%>
                      <div class="btn-group has-text-info">
                        <%= link_to 'Editar', edit_product_review_path(@product, review.id), class: "btn btn-default" %>
                        <%= link_to 'Deletar', product_review_path(@product, review.id), data: {:confirm => "Tem certeza?"}, :method => :delete, class: "btn btn-default" %>
                      </div>
                  <% elsif current_user.try(:admin2?) -%>
                    <div class="btn-group has-text-info">
                      <%= link_to 'Deletar', product_review_path(@product, review.id), data: {:confirm => "Tem certeza?"}, :method => :delete, class: "btn btn-default" %>
                    </div>
                  <% elsif review.user == current_user -%>
      	           <div class="btn-group">
                      <%= link_to 'Editar', edit_product_review_path(@product, review.id), class: "btn btn-default" %>
                      <%= link_to 'Deletar', product_review_path(@product, review.id), data: {:confirm => "Tem certeza?"}, :method => :delete, class: "btn btn-default" %>
      	           </div>
                  <% end %>
                <% end %>
              </article>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <% if current_user.try(:admin2?) %>
    <%= link_to 'Editar', edit_product_path(@product), class: 'button' %>
  <% end %>
</section>
