<!--Página inicial-->
<% content_for :header do %>
  <section class="hero is-info">
    <div class="hero-body">
      <!--Lançamentos-->
      <div class="container">
        <h1 class="title">
          <i class="fa fa-bullseye" aria-hidden="true"></i>
          Últimos produtos adicionados
        </h1>
      </div>
      <hr/>
      <div class="tile is-ancestor">
        <% @products.each do |product| %>
          <!--Produtos-->
          <div class="tile is-parent">
            <article class="tile is-child box">
              <!--Imagem Produto-->
              <div class="tile is-child box">
                <figure class="image is-4by2">
                  <%= link_to image_tag(product.image_url(:thumb)), product %>
                </figure>
                <!--Tag Produto-->
                <% if product.name? %>
                <div class="name">
                  <span class="tag is-info"><%= product.tag %></span>
                </div>
                <% end %>
              </div>
              <!--Nome seguido de preço do Produto-->
              <div class="field is-grouped is-grouped-centered">
                <div class="pa3 has-text-info">
                  <h3 class="fw7 f4 title"><%= link_to product.name, product %></h3>
                  <p class="f3 fw6 pt2 price has-text-info"><%= number_to_currency(product.price) %></p>
                  <p class="control">
                    <%= link_to product, class:"navbar-item button is-info" do %>
                    <span class="icon">
                      <i class="fa fa-cart-plus has-text-primary" aria-hidden="true"></i>
                    </span>
                    <span>
                      Comprar
                    </span>
                    <% end  %>
                  <!--Verifica se o usuário é adm, caso seja, habilita a funçaõ de deletar e editar o produto-->
                  <% if current_user.try(:admin2?) %>
                    <hr/>
                    <%= link_to 'Editar', edit_product_path(product), class: "button is-small" %>
                    <%= link_to 'Deletar', product, method: :delete, data: { confirm: "Você tem certeza ?" }, class: "button is-small" %>
                  <% end %>
                </div>
              </div>
            </article>
          </div>

        <% end %>
      </div>

      <!--Top produtos-->
      <div class="container">
        <h1 class="title">
          <i class="fa fa-arrow-circle-o-up " aria-hidden="true"></i>
          Top Produtos
        </h1>
      </div>
      <hr/>
      <div class="tile is-ancestor">
        <% @products.each do |product| %>
          <!--Produtos-->
          <div class="tile is-parent">
            <article class="tile is-child box">
              <!--Imagem Produto-->
              <div class="tile is-child box">
                <figure class="image is-4by2">
                  <%= link_to image_tag(product.image_url(:thumb)), product %>
                </figure>
                <!--Tag Produto-->
                <% if product.name? %>
                <div class="name">
                  <span class="tag is-info"><%= product.tag %></span>
                </div>
                <% end %>
              </div>
              <!--Nome seguido de preço do Produto-->
              <div class="field is-grouped is-grouped-centered">
                <div class="pa3 has-text-info">
                  <h3 class="fw7 f4 title"><%= link_to product.name, product %></h3>
                  <p class="f3 fw6 pt2 price has-text-info"><%= number_to_currency(product.price) %></p>
                  <p class="control">
                    <%= link_to product, class:"navbar-item button is-info" do %>
                    <span class="icon">
                      <i class="fa fa-cart-plus has-text-primary" aria-hidden="true"></i>
                    </span>
                    <span>
                      Comprar
                    </span>
                    <% end  %>
                  <!--Verifica se o usuário é adm, caso seja, habilita a funçaõ de deletar e editar o produto-->
                  <% if product_author(product) && current_user.admin? %>
                    <hr/>
                    <%= link_to 'Editar', edit_product_path(product), class: "button is-small" %>
                    <%= link_to 'Deletar', product, method: :delete, data: { confirm: "Você tem certeza ?" }, class: "button is-small" %>
                  <% end %>
                </div>
              </div>
            </article>
          </div>

        <% end %>

    </div>
  </section>
<% end %>
